

<div id="header">
	<div class="wrapper">
		<div class="left">
			<div class="logo">{{title}}<span>tube</span></div>
		</div>
		<div class="right">
			<ng-container *ngIf="user; else notLogin">
				<span>Hello, {{user.user.email}}</span>
				<button id="shareVideo" (click)="openShare()">Share a video</button>
				<button id="logout" (click)="logOut()">Logout</button>
			</ng-container>

			<ng-template #notLogin>
				<input placeholder="Email" #email type="email" name="" id="email">
				<input placeholder="Password" #password type="password" name="" id="password">
				<button id="login" (click)="login(email.value, password.value)">Login</button>
				<button id="register" (click)="register(email.value, password.value)">Register</button>
			</ng-template>
			
		</div>
	</div>	
</div>

<div id="videos">
	<div class="wrapper">
		<div *ngIf="user && showShareForm" id="shareInput">
			<span (click)="closePopupShare()">&#x2715;</span>
			<h5>Enter a video URL</h5>

			<div class="link-input">
				<input type="text" [(ngModel)]="curLink" name="" id="">
				<button id="startShare" (click)="startShareALink(curLink)">Share</button>
			</div>
			
		</div>

		<ng-container *ngIf="videos.length > 0">
			<remi-video-item *ngFor="let video of videos" [url]="video.url" [sharer]="video.sharer"></remi-video-item>
		</ng-container>
	</div>
</div>