

<div id="header">
	<div class="wrapper">
		<div class="left">
			<div class="logo">Remi<span>Tube</span></div>
		</div>
		<div class="right">
			<input type="email" name="" id="email">
			<input type="password" name="" id="password">
			<button id="login">Login</button>
			<button id="register">Register</button>
		</div>
	</div>	
</div>
<div id="videos">
	<div class="wrapper">
		<div class="video">
			<div class="video-frame"></div>
			<div class="video-text">
				<h3>Video title</h3>
				<div class="author">Share by: <b>datvimaru50@gmail.com</b></div>
				<div class="desc">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta facilis, praesentium harum itaque repellendus. Ab, cumque. Possimus fugit cum corporis iusto exercitationem temporibus debitis nulla odit expedita. Sequi, praesentium.
				</div>
			</div>
		</div>
		<div class="video">
			<div class="video-frame"></div>
			<div class="video-text">
				<h3>Video title</h3>
				<div class="author">Share by: <b>datvimaru50@gmail.com</b></div>
				<div class="desc">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta facilis, praesentium harum itaque repellendus. Ab, cumque. Possimus fugit cum corporis iusto exercitationem temporibus debitis nulla odit expedita. Sequi, praesentium.
				</div>
			</div>
		</div>
		<div class="video">
			<div class="video-frame"></div>
			<div class="video-text">
				<h3>Video title</h3>
				<div class="author">Share by: <b>datvimaru50@gmail.com</b></div>
				<div class="desc">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta facilis, praesentium harum itaque repellendus. Ab, cumque. Possimus fugit cum corporis iusto exercitationem temporibus debitis nulla odit expedita. Sequi, praesentium.
				</div>
			</div>
		</div>
	</div>
</div>